html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#Main{
    height:100%;
    background-color: #0b75ae;
}

.video_player{
    position: fixed;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

#Catalog{
    position: fixed;
    z-index: 10;
    float: left;
    width:25%;
    min-width: 300px;
    height: calc(100% - 50px);
    /* border-radius: 10px; */
    color: #fff;
    background-color: rgba(3, 111, 63, 0.421);
    overflow-y: scroll;
    padding: 5px 0px;
}

#Catalog::-webkit-scrollbar {
    width: 6px;
}
#Catalog::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
}
#Catalog::-webkit-scrollbar-track {
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}

.CatalogOption{
    width:95%;
    height: 50px;
    margin: auto;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    padding-bottom: 10px;
}

.CatalogOption:hover{
    background-color: #05a867;
}

#progress_bar{
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 40px;
    bottom: 0px;
    background-color: #95289f99;
    cursor: none;
}

#progress{
    width: 0%;
    height: 100%;
    background-color: #21bc0d97;
}

#loc{
    position: fixed;
    bottom:0px;
    left:0px;
    width:2px;
    height:40px;
    background-color: #fff;
    visibility: hidden;
}

#progress_bar:hover #loc{
    visibility: visible;
}

#time{
    position: fixed;
    bottom:0px;
    left:5px;
    height:40px;
    line-height: 40px;
    font-size: 25px;
    color:aqua;
}

#time_hover{
    position: fixed;
    bottom:0px;
    left:5px;
    height:40px;
    line-height: 40px;
    font-size: 25px;
    color:aqua;
    visibility: hidden;
}

#progress_bar:hover #time{
    visibility: hidden;
}

#progress_bar:hover #time_hover{
    visibility: visible;
}

#rate{
    position: fixed;
    bottom:0px;
    right:5px;
    height:40px;
    line-height: 40px;
    font-size: 25px;
    color:aqua;
}